<!DOCTYPE html>
<html lang="en">
<head>

    <style>

        .default{
            width:100%;
            border:4px solid green;
        }

        .inner {
            width:100%;
            border:2px solid green;
        }

        th {
            vertical-align: top;
            border: 1px solid #0F0F0F;
            font-weight: normal;
        }

    </style>

    <meta charset="UTF-8">
    <title>DashboardName</title>
</head>
<body>

<p style="text-align: center; font-size: 48px; line-height: 2px" id="tableName">

    TableName

</p>
<p style="text-align: center; font-size: 22px; line-height: 2px">

    Description - the quick brown fox jumped over the lazy dog

</p>

    <table class="default">
        <tr id="headings">

            <th style="font-size: 30px"> Global Options </th>
        </tr>
        <tr id="subtables">

            <th>
                <button style="width: 100%; height: 100px"> Edit Visible </button>
            </th>
        </tr>
    </table>

</body>
</html>